html {
    background-color: #D3DBDE !important;
}

body {
    padding-top: 100px;
    background-color: #D3DBDE !important;
}

.form-group {
    width: 200px;
}

.form {
    border-radius: 10%;
    background-color: #913F3A;
    padding: 20px;
    width: 250px;
    margin-left: 540px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form-label1 {
    text-emphasis-color: aqua;
}

.btn-custom3 {
    color: #E0D987;
    background-color: #1D2731;
}

.btn-custom3:hover {
    opacity: 0.8;
}