
@{
    ViewBag.Title = "Index";
    //Giriş sayfasıdır, üç farklı rol için üç farklı giriş butonu bulunur
}
<link href="~/Content/home.css" rel="stylesheet" type="text/css" />
<div class="images">
    <a href="/Home/LoginAdmin"><img class="img1" src="~/Content/Images/boss.png" alt="" /></a>

    <a href="/Home/LoginOgretmen"><img class="img2" src="~/Content/Images/teacher.png" alt="" /></a>

    <a href="/Home/LoginOgrenci"><img class="img3" src="~/Content/Images/classmates.png" alt="" /></a>
</div>