@{
    ViewBag.Title = "Index";
    //Kaydı yapılacak rolün belirlenmesini sağlar
}

<link href="~/Content/HomeRegister.css" rel="stylesheet" type="text/css" />

<a href="/Home/RegisterOgretmen"><img class="img2" src="~/Content/Images/teacher.png" alt="" /></a>

<a href="/Home/RegisterOgrenci"><img class="img3" src="~/Content/Images/classmates.png" alt="" /></a>